
body {
  background-size: contain;
  background-color: honeydew;
}
header {
  border: 3px solid black;
 
}
.image {
  border-style: groove;
  border-radius: 200px;
  margin-left: 30px;
  position: absolute;
  
}
aside {
  position: absolute;
  top: 20px;
  left: 720px;
}
.bio {
text-align: center;
position: absolute;
left: 270px;
}
.article {
  position: absolute;
  width: 600px;
  top: 300px;
  left: 100px;
}
.soft-skills {
  float: right;
  text-align: center;
  margin-left: 100px;
}
.hard-skills {
  text-align: center;
}
footer {
  border: 3px solid black;
  position: absolute;
  top: 800px;
  width: 900px;
  text-align: center;
}